.navbar {
    height: 113px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
  }
  
  .navbar-left {
    display: flex;
    align-items: center;
  }
  
  .navbar-left img {
    height: 50px;
  }
  
  .navbar-left h1 {
    font-size: 28px;
    margin-left: 10px;
    font-family: 'Lato', sans-serif;
    font-size: 34px;
    font-weight: 300;
  }
  .navbar-right {
    display: flex;
  }
  .navbar-right ul {
    display: flex;
    list-style: none;
    align-items: center;
    margin: 0;
    padding: 0;
  }
  
  .navbar-right li {
    margin-right: 50px;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 700;
    display: inline-block;
    position: relative;
  }
  .navbar-right li::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #111213;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

  .navbar-right li:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  .navbar-right a {
    color: #333333;
    text-decoration: none;
  }
  
  .signup-btn, .login-btn {
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    border: solid 1px;
    margin-left: 20px;
    font-weight: bold;
    font-size: 18px;
    transition: all 0.2s ease-in-out;
  }
  
  .signup-btn:hover, .login-btn:hover {
    background-color: #000000;
    color: #ffffff;
  }
  
  .private {
    width: 100%;
    margin: 0px 30px;
    display: flex;

  }
  .text {
    display: flex;
    flex-direction: column;
    padding: 150px 120px;
    width: 40%;
    background-color: #fff1e0;

  }
  .text .heading {
    font-family: 'Lato';
    font-size: 80px;
    font-weight: 700;
  }
  .text p {
    font-family: 'Lato';
    font-size: 20px;
    font-weight: 300;
  }
  .text .buttons {
    display: flex;
  }
  .buttons a {
    border: 3px solid blue;
    padding: 15px 40px;
    font-family: 'Lato';
    font-size: 22x;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.2s ease-in-out;
  }
  .btn1 {
    background-color: blue;
    color: white
  }
  .btn1:hover {
    background-color: white;
    color: blue;
  }

  .btn2 {
    margin-left: 20px;
    background-color: #ffffff;
    color: blue;
  }
  .btn2:hover {
    background-color: blue;
    color: #ffffff;
  }
  .pic {
    width: 100%;
    margin-right: 60px;
  }
  .pic img {
    width: 100%;
    height: 100%;
  }


  .whatteach {
    margin: 50px 30px;
    display: flex;
    padding: 80px 120px;
  }

  .aboutme {
    width: 40%;
    font-family: 'Lato';

  }
  .aboutme h1 {
    font-size: 45px;
    font-weight: bold;

  }
  .aboutme p {
    font-size: 25px;
    font-weight: 300;
    width: 70%;
  }
  #aboutme {
    margin-top: 30px;
  } 